In [1]:
# Import dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import pandas as pd
import tensorflow as tf

In [2]:
# Import input dataset
corporate_giving_df = pd.read_csv("charity_data.csv")
corporate_giving_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

## Preprocessing

### Inspect Data

In [3]:
# if len(corporate_giving_df[corporate_giving_df.duplicated(['EIN'])]) == 0:
#     print(f"There are {len(corporate_giving_df[corporate_giving_df.duplicated(['EIN'])])} duplicate EINs; use EIN as index")
# else:
#     print("Do not use EIN as index")

In [4]:
# corporate_giving_df = corporate_giving_df.set_index('EIN')
# corporate_giving_df

In [5]:
corporate_giving_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [6]:
corporate_giving_df.nunique(axis=0)

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

### Drop non-informative columns

In [7]:
# corporate_giving_df = corporate_giving_df.drop(['NAME'], axis=1)
corporate_giving_df = corporate_giving_df.drop(['EIN','NAME'], axis=1)

### Bin categorical columns

In [8]:
corporate_giving_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Binning application type
corporate_giving_df = corporate_giving_df.copy()

app_counts = corporate_giving_df['APPLICATION_TYPE'].value_counts()

replace_app = list(app_counts[app_counts < 500].index)

for app in replace_app:
    corporate_giving_df['APPLICATION_TYPE'] = corporate_giving_df['APPLICATION_TYPE'].replace(app,"Other")
    
corporate_giving_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [10]:
corporate_giving_df['CLASSIFICATION'].value_counts().head(35)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1278       10
C1238       10
C1235        9
C1237        9
C7210        7
C2400        6
C4100        6
C1720        6
Name: CLASSIFICATION, dtype: int64

In [11]:
# Binning classification
class_counts = corporate_giving_df['CLASSIFICATION'].value_counts()

replace_class = list(class_counts[class_counts < 700].index)

for class_ in replace_class:
    corporate_giving_df['CLASSIFICATION'] = corporate_giving_df['CLASSIFICATION'].replace(class_,"Other")
    
corporate_giving_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [12]:
corporate_giving_df['SPECIAL_CONSIDERATIONS'] = corporate_giving_df['SPECIAL_CONSIDERATIONS'].replace(to_replace=['N', 'Y'], value=[0, 1])
corporate_giving_df.astype({'SPECIAL_CONSIDERATIONS':'int64'})
corporate_giving_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,0,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,0,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,0,142590,1

In [13]:
corporate_giving_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,0,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,0,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,0,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,0,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,0,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,0,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,0,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,0,36500179,0

### Encode categorical columns

In [14]:
# Generate categorical variable list
corporate_giving_cat = corporate_giving_df.dtypes[corporate_giving_df.dtypes == "object"].index.tolist()

# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
enc_df = pd.DataFrame(enc.fit_transform(corporate_giving_df[corporate_giving_cat]))

# Add the encoded variable names to the DataFrame
enc_df.columns = enc.get_feature_names(corporate_giving_cat)
enc_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [15]:
corporate_giving_df.reset_index()

,index,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,0,T10,Independent,C1000,ProductDev,Association,1,0,0,5000,1
1,1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,0,108590,1
2,2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,0,5000,0
3,3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,0,6692,1
4,4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,0,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,34294,T4,Independent,C1000,ProductDev,Association,1,0,0,5000,0
34295,34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,0,5000,0
34296,34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,0,5000,0
34297,34297,T5,Independent,C3000,ProductDev,Association,1,0,0,5000,1
34298,34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,0,36500179,0

In [16]:
# Merge one-hot encoded features and drop originals
corporate_giving_df = corporate_giving_df.merge(enc_df,left_index=True, right_index=True)
corporate_giving_df = corporate_giving_df.drop(corporate_giving_cat,1)
corporate_giving_df

,STATUS,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,0,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,0,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,0,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,0,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,0,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34295,1,0,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34296,1,0,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34297,1,0,5000,1,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34298,1,0,36500179,0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

### Split preprocessed data into training and testing sets and scale

In [17]:
# Split the preprocessed data into our features and target arrays
y = corporate_giving_df["IS_SUCCESSFUL"].values
X = corporate_giving_df.drop(columns=["IS_SUCCESSFUL"]).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Train, run, and evaluate models

### First Attempt: 1 hidden layer

In [18]:
# Define the first model - neural net 
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  number_input_features

nn = tf.keras.models.Sequential()

# Hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Train on 25724 samples
Epoch 1/50
25724/25724 [==============================] - 2s 79us/sample - loss: 0.5920 - accuracy: 0.7085
Epoch 2/50
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5606 - accuracy: 0.7277
Epoch 3/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5565 - accuracy: 0.7311
Epoch 4/50
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5542 - accuracy: 0.7315
Epoch 5/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5522 - accuracy: 0.7308
Epoch 6/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5512 - accuracy: 0.7326
Epoch 7/50
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5503 - accuracy: 0.7314
Epoch 8/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5496 - accuracy: 0.7331
Epoch 9/50
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5494 - accuracy: 0.7311
Epoch 10/50
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5490 - accuracy: 0.7317
Epoch 11/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5480 - accuracy: 0.7332
Epoch 12/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5473 - accuracy: 0.7332
Epoch 13/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5475 - accuracy: 0.7318
Epoch 14/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5469 - accuracy: 0.7326
Epoch 15/50
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5475 - accuracy: 0.7338
Epoch 16/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5462 - accuracy: 0.7332
Epoch 17/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5462 - accuracy: 0.7338
Epoch 18/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5457 - accuracy: 0.7331
Epoch 19/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5457 - accuracy: 0.7345
Epoch 20/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5460 - accuracy: 0.7330
Epoch 21/50
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5456 - accuracy: 0.7330
Epoch 22/50
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5449 - accuracy: 0.7339
Epoch 23/50
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5453 - accuracy: 0.7329
Epoch 24/50
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5450 - accuracy: 0.7332
Epoch 25/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5448 - accuracy: 0.7348
Epoch 26/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5448 - accuracy: 0.7343
Epoch 27/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5446 - accuracy: 0.7349
Epoch 28/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5446 - accuracy: 0.7359
Epoch 29/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5445 - accuracy: 0.7343
Epoch 30/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5438 - accuracy: 0.7355
Epoch 31/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5442 - accuracy: 0.7348
Epoch 32/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5439 - accuracy: 0.7355
Epoch 33/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5437 - accuracy: 0.7353
Epoch 34/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5439 - accuracy: 0.7357
Epoch 35/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5437 - accuracy: 0.7348
Epoch 36/50
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5432 - accuracy: 0.7368
Epoch 37/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5433 - accuracy: 0.7350
Epoch 38/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5433 - accuracy: 0.7353
Epoch 39/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5430 - accuracy: 0.7358s - loss: 0.5444 -
Epoch 40/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5432 - accuracy: 0.7357
Epoch 41/50
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5432 - accuracy: 0.7355
Epoch 42/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5432 - accuracy: 0.7350
Epoch 43/50
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5429 - accuracy: 0.7353
Epoch 44/50
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5432 - accuracy: 0.7359
Epoch 45/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5430 - accuracy: 0.7351
Epoch 46/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5425 - accuracy: 0.7356
Epoch 47/50
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5426 - accuracy: 0.7357
Epoch 48/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5424 - accuracy: 0.7365
Epoch 49/50
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5429 - accuracy: 0.7354
Epoch 50/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5425 - accuracy: 0.7365
8575/1 - 0s - loss: 0.5423 - accuracy: 0.7255
Loss: 0.5514101631092261, Accuracy: 0.7254810333251953

In [19]:
# Define the second model - neural net
hidden_nodes_layer1 =  number_input_features*3

nn = tf.keras.models.Sequential()

# Hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Train on 25724 samples
Epoch 1/50
25724/25724 [==============================] - 3s 103us/sample - loss: 0.5710 - accuracy: 0.7204
Epoch 2/50
25724/25724 [==============================] - 2s 81us/sample - loss: 0.5574 - accuracy: 0.7285
Epoch 3/50
25724/25724 [==============================] - 2s 81us/sample - loss: 0.5540 - accuracy: 0.7295
Epoch 4/50
25724/25724 [==============================] - 2s 79us/sample - loss: 0.5528 - accuracy: 0.7305
Epoch 5/50
25724/25724 [==============================] - 2s 78us/sample - loss: 0.5511 - accuracy: 0.7302
Epoch 6/50
25724/25724 [==============================] - 2s 82us/sample - loss: 0.5506 - accuracy: 0.7314
Epoch 7/50
25724/25724 [==============================] - 2s 83us/sample - loss: 0.5496 - accuracy: 0.7322
Epoch 8/50
25724/25724 [==============================] - 2s 81us/sample - loss: 0.5485 - accuracy: 0.7327
Epoch 9/50
25724/25724 [==============================] - 2s 85us/sample - loss: 0.5477 - accuracy: 0.7325
Epoch 10/50
25724/25724 [==============================] - 2s 83us/sample - loss: 0.5480 - accuracy: 0.7326
Epoch 11/50
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5479 - accuracy: 0.7334
Epoch 12/50
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5471 - accuracy: 0.7333
Epoch 13/50
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5464 - accuracy: 0.7348
Epoch 14/50
25724/25724 [==============================] - 3s 102us/sample - loss: 0.5467 - accuracy: 0.7326
Epoch 15/50
25724/25724 [==============================] - 3s 103us/sample - loss: 0.5463 - accuracy: 0.7331
Epoch 16/50
25724/25724 [==============================] - 3s 105us/sample - loss: 0.5456 - accuracy: 0.7339
Epoch 17/50
25724/25724 [==============================] - 3s 103us/sample - loss: 0.5454 - accuracy: 0.7342
Epoch 18/50
25724/25724 [==============================] - 3s 106us/sample - loss: 0.5446 - accuracy: 0.7346
Epoch 19/50
25724/25724 [==============================] - 3s 104us/sample - loss: 0.5454 - accuracy: 0.7343
Epoch 20/50
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5442 - accuracy: 0.7339
Epoch 21/50
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5452 - accuracy: 0.7339
Epoch 22/50
25724/25724 [==============================] - 3s 105us/sample - loss: 0.5443 - accuracy: 0.7344
Epoch 23/50
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5442 - accuracy: 0.7338
Epoch 24/50
25724/25724 [==============================] - 3s 105us/sample - loss: 0.5444 - accuracy: 0.7346
Epoch 25/50
25724/25724 [==============================] - 3s 103us/sample - loss: 0.5441 - accuracy: 0.7331
Epoch 26/50
25724/25724 [==============================] - 3s 100us/sample - loss: 0.5437 - accuracy: 0.7342
Epoch 27/50
25724/25724 [==============================] - 3s 101us/sample - loss: 0.5439 - accuracy: 0.7346
Epoch 28/50
25724/25724 [==============================] - 3s 101us/sample - loss: 0.5430 - accuracy: 0.7345
Epoch 29/50
25724/25724 [==============================] - 3s 102us/sample - loss: 0.5434 - accuracy: 0.7362
Epoch 30/50
25724/25724 [==============================] - 2s 96us/sample - loss: 0.5433 - accuracy: 0.7362
Epoch 31/50
25724/25724 [==============================] - 3s 98us/sample - loss: 0.5429 - accuracy: 0.7363
Epoch 32/50
25724/25724 [==============================] - 3s 100us/sample - loss: 0.5428 - accuracy: 0.7360
Epoch 33/50
25724/25724 [==============================] - 3s 106us/sample - loss: 0.5428 - accuracy: 0.7344
Epoch 34/50
25724/25724 [==============================] - 3s 107us/sample - loss: 0.5426 - accuracy: 0.7353
Epoch 35/50
25724/25724 [==============================] - 3s 110us/sample - loss: 0.5426 - accuracy: 0.7367
Epoch 36/50
25724/25724 [==============================] - 3s 110us/sample - loss: 0.5424 - accuracy: 0.7364
Epoch 37/50
25724/25724 [==============================] - 3s 111us/sample - loss: 0.5419 - accuracy: 0.7354
Epoch 38/50
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5427 - accuracy: 0.7367
Epoch 39/50
25724/25724 [==============================] - 3s 105us/sample - loss: 0.5421 - accuracy: 0.7361
Epoch 40/50
25724/25724 [==============================] - 2s 97us/sample - loss: 0.5422 - accuracy: 0.7370
Epoch 41/50
25724/25724 [==============================] - 3s 98us/sample - loss: 0.5417 - accuracy: 0.7368
Epoch 42/50
25724/25724 [==============================] - 3s 98us/sample - loss: 0.5422 - accuracy: 0.7364
Epoch 43/50
25724/25724 [==============================] - 2s 96us/sample - loss: 0.5417 - accuracy: 0.7369
Epoch 44/50
25724/25724 [==============================] - 3s 99us/sample - loss: 0.5416 - accuracy: 0.7366
Epoch 45/50
25724/25724 [==============================] - 3s 102us/sample - loss: 0.5411 - accuracy: 0.7373
Epoch 46/50
25724/25724 [==============================] - 3s 102us/sample - loss: 0.5412 - accuracy: 0.7373
Epoch 47/50
25724/25724 [==============================] - 3s 104us/sample - loss: 0.5415 - accuracy: 0.7370
Epoch 48/50
25724/25724 [==============================] - 3s 103us/sample - loss: 0.5421 - accuracy: 0.7372
Epoch 49/50
25724/25724 [==============================] - 3s 101us/sample - loss: 0.5412 - accuracy: 0.7346
Epoch 50/50
25724/25724 [==============================] - 3s 103us/sample - loss: 0.5414 - accuracy: 0.7373
8575/1 - 1s - loss: 0.5393 - accuracy: 0.7266
Loss: 0.5527242883857416, Accuracy: 0.7266472578048706

In [20]:
# Define the third model - deep neural net, 2 hidden layers
hidden_nodes_layer1 =  number_input_features*2
hidden_nodes_layer2 =  number_input_features

nn = tf.keras.models.Sequential()

# Hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer2, input_dim=number_input_features, activation="relu")
)

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Train on 25724 samples
Epoch 1/50
25724/25724 [==============================] - 3s 113us/sample - loss: 0.5686 - accuracy: 0.7202
Epoch 2/50
25724/25724 [==============================] - 2s 62us/sample - loss: 0.5548 - accuracy: 0.7285
Epoch 3/50
25724/25724 [==============================] - 2s 61us/sample - loss: 0.5511 - accuracy: 0.7302
Epoch 4/50
25724/25724 [==============================] - 1s 58us/sample - loss: 0.5507 - accuracy: 0.7314
Epoch 5/50
25724/25724 [==============================] - 1s 57us/sample - loss: 0.5482 - accuracy: 0.7332
Epoch 6/50
25724/25724 [==============================] - 1s 57us/sample - loss: 0.5472 - accuracy: 0.7336
Epoch 7/50
25724/25724 [==============================] - 1s 57us/sample - loss: 0.5466 - accuracy: 0.7333
Epoch 8/50
25724/25724 [==============================] - 1s 55us/sample - loss: 0.5461 - accuracy: 0.7337
Epoch 9/50
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5459 - accuracy: 0.7348
Epoch 10/50
25724/25724 [==============================] - 1s 52us/sample - loss: 0.5450 - accuracy: 0.7357
Epoch 11/50
25724/25724 [==============================] - 1s 56us/sample - loss: 0.5448 - accuracy: 0.7353
Epoch 12/50
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5437 - accuracy: 0.7362
Epoch 13/50
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5433 - accuracy: 0.7355
Epoch 14/50
25724/25724 [==============================] - 1s 52us/sample - loss: 0.5433 - accuracy: 0.7363
Epoch 15/50
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5433 - accuracy: 0.7361
Epoch 16/50
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5426 - accuracy: 0.7367
Epoch 17/50
25724/25724 [==============================] - 1s 52us/sample - loss: 0.5428 - accuracy: 0.7366
Epoch 18/50
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5418 - accuracy: 0.7375
Epoch 19/50
25724/25724 [==============================] - 1s 52us/sample - loss: 0.5410 - accuracy: 0.7374
Epoch 20/50
25724/25724 [==============================] - 1s 52us/sample - loss: 0.5415 - accuracy: 0.7386
Epoch 21/50
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5408 - accuracy: 0.7364
Epoch 22/50
25724/25724 [==============================] - 1s 52us/sample - loss: 0.5408 - accuracy: 0.7374
Epoch 23/50
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5412 - accuracy: 0.7378
Epoch 24/50
25724/25724 [==============================] - 1s 52us/sample - loss: 0.5401 - accuracy: 0.7387
Epoch 25/50
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5399 - accuracy: 0.7380
Epoch 26/50
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5394 - accuracy: 0.7375
Epoch 27/50
25724/25724 [==============================] - 1s 52us/sample - loss: 0.5399 - accuracy: 0.7388
Epoch 28/50
25724/25724 [==============================] - 1s 52us/sample - loss: 0.5394 - accuracy: 0.7389
Epoch 29/50
25724/25724 [==============================] - 1s 55us/sample - loss: 0.5390 - accuracy: 0.7395
Epoch 30/50
25724/25724 [==============================] - 1s 56us/sample - loss: 0.5388 - accuracy: 0.7392
Epoch 31/50
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5387 - accuracy: 0.7389
Epoch 32/50
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5389 - accuracy: 0.7390
Epoch 33/50
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5386 - accuracy: 0.7390
Epoch 34/50
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5383 - accuracy: 0.7388
Epoch 35/50
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5381 - accuracy: 0.7393
Epoch 36/50
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5380 - accuracy: 0.7398
Epoch 37/50
25724/25724 [==============================] - 1s 52us/sample - loss: 0.5378 - accuracy: 0.7394
Epoch 38/50
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5381 - accuracy: 0.7392
Epoch 39/50
25724/25724 [==============================] - 1s 52us/sample - loss: 0.5378 - accuracy: 0.7396
Epoch 40/50
25724/25724 [==============================] - 1s 52us/sample - loss: 0.5381 - accuracy: 0.7390
Epoch 41/50
25724/25724 [==============================] - 2s 59us/sample - loss: 0.5373 - accuracy: 0.7399
Epoch 42/50
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5375 - accuracy: 0.7399
Epoch 43/50
25724/25724 [==============================] - 1s 55us/sample - loss: 0.5373 - accuracy: 0.7392
Epoch 44/50
25724/25724 [==============================] - 1s 57us/sample - loss: 0.5372 - accuracy: 0.7395
Epoch 45/50
25724/25724 [==============================] - 1s 57us/sample - loss: 0.5374 - accuracy: 0.7399
Epoch 46/50
25724/25724 [==============================] - 1s 55us/sample - loss: 0.5374 - accuracy: 0.7391
Epoch 47/50
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5370 - accuracy: 0.7398
Epoch 48/50
25724/25724 [==============================] - 1s 55us/sample - loss: 0.5366 - accuracy: 0.7400
Epoch 49/50
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5372 - accuracy: 0.7403
Epoch 50/50
25724/25724 [==============================] - 1s 57us/sample - loss: 0.5366 - accuracy: 0.7394
8575/1 - 0s - loss: 0.5549 - accuracy: 0.7244
Loss: 0.5536303817913066, Accuracy: 0.7244315147399902

In [21]:
# Define the fourth model - deep neural net, 3 hidden layers
hidden_nodes_layer1 =  number_input_features*2
hidden_nodes_layer2 =  number_input_features
hidden_nodes_layer3 =  int(number_input_features/2)

nn = tf.keras.models.Sequential()

# Hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer2, input_dim=number_input_features, activation="relu")
)
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer3, input_dim=number_input_features, activation="relu")
)

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Train on 25724 samples
Epoch 1/50
25724/25724 [==============================] - 3s 100us/sample - loss: 0.5684 - accuracy: 0.7218
Epoch 2/50
25724/25724 [==============================] - 2s 59us/sample - loss: 0.5552 - accuracy: 0.7300
Epoch 3/50
25724/25724 [==============================] - 2s 58us/sample - loss: 0.5510 - accuracy: 0.7322
Epoch 4/50
25724/25724 [==============================] - 2s 58us/sample - loss: 0.5498 - accuracy: 0.7328
Epoch 5/50
25724/25724 [==============================] - 2s 59us/sample - loss: 0.5490 - accuracy: 0.7340
Epoch 6/50
25724/25724 [==============================] - 2s 59us/sample - loss: 0.5475 - accuracy: 0.7335
Epoch 7/50
25724/25724 [==============================] - 2s 62us/sample - loss: 0.5469 - accuracy: 0.7343
Epoch 8/50
25724/25724 [==============================] - 2s 59us/sample - loss: 0.5466 - accuracy: 0.7346
Epoch 9/50
25724/25724 [==============================] - 2s 61us/sample - loss: 0.5457 - accuracy: 0.7369
Epoch 10/50
25724/25724 [==============================] - 2s 59us/sample - loss: 0.5451 - accuracy: 0.7354
Epoch 11/50
25724/25724 [==============================] - 2s 59us/sample - loss: 0.5445 - accuracy: 0.7363
Epoch 12/50
25724/25724 [==============================] - 2s 59us/sample - loss: 0.5444 - accuracy: 0.7368
Epoch 13/50
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5434 - accuracy: 0.7368
Epoch 14/50
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5432 - accuracy: 0.7372
Epoch 15/50
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5433 - accuracy: 0.7372
Epoch 16/50
25724/25724 [==============================] - 2s 66us/sample - loss: 0.5427 - accuracy: 0.7376
Epoch 17/50
25724/25724 [==============================] - 2s 63us/sample - loss: 0.5422 - accuracy: 0.7375
Epoch 18/50
25724/25724 [==============================] - 2s 63us/sample - loss: 0.5418 - accuracy: 0.7380
Epoch 19/50
25724/25724 [==============================] - 2s 64us/sample - loss: 0.5417 - accuracy: 0.7375
Epoch 20/50
25724/25724 [==============================] - 2s 62us/sample - loss: 0.5418 - accuracy: 0.7384
Epoch 21/50
25724/25724 [==============================] - 2s 62us/sample - loss: 0.5408 - accuracy: 0.7374
Epoch 22/50
25724/25724 [==============================] - 2s 64us/sample - loss: 0.5412 - accuracy: 0.7368
Epoch 23/50
25724/25724 [==============================] - 2s 63us/sample - loss: 0.5406 - accuracy: 0.7380
Epoch 24/50
25724/25724 [==============================] - 2s 62us/sample - loss: 0.5402 - accuracy: 0.7390
Epoch 25/50
25724/25724 [==============================] - 2s 62us/sample - loss: 0.5401 - accuracy: 0.7385
Epoch 26/50
25724/25724 [==============================] - 2s 62us/sample - loss: 0.5400 - accuracy: 0.7387
Epoch 27/50
25724/25724 [==============================] - 2s 60us/sample - loss: 0.5401 - accuracy: 0.7380
Epoch 28/50
25724/25724 [==============================] - 2s 60us/sample - loss: 0.5400 - accuracy: 0.7381
Epoch 29/50
25724/25724 [==============================] - 2s 60us/sample - loss: 0.5393 - accuracy: 0.7383
Epoch 30/50
25724/25724 [==============================] - 2s 58us/sample - loss: 0.5394 - accuracy: 0.7390
Epoch 31/50
25724/25724 [==============================] - 2s 62us/sample - loss: 0.5391 - accuracy: 0.7393
Epoch 32/50
25724/25724 [==============================] - 2s 62us/sample - loss: 0.5390 - accuracy: 0.7380
Epoch 33/50
25724/25724 [==============================] - 2s 59us/sample - loss: 0.5385 - accuracy: 0.7381
Epoch 34/50
25724/25724 [==============================] - 1s 58us/sample - loss: 0.5381 - accuracy: 0.7396
Epoch 35/50
25724/25724 [==============================] - 2s 60us/sample - loss: 0.5380 - accuracy: 0.7398
Epoch 36/50
25724/25724 [==============================] - 2s 60us/sample - loss: 0.5380 - accuracy: 0.7396
Epoch 37/50
25724/25724 [==============================] - 1s 57us/sample - loss: 0.5382 - accuracy: 0.7387
Epoch 38/50
25724/25724 [==============================] - 2s 61us/sample - loss: 0.5374 - accuracy: 0.7395
Epoch 39/50
25724/25724 [==============================] - 2s 62us/sample - loss: 0.5384 - accuracy: 0.7389
Epoch 40/50
25724/25724 [==============================] - 2s 62us/sample - loss: 0.5378 - accuracy: 0.7394
Epoch 41/50
25724/25724 [==============================] - 2s 59us/sample - loss: 0.5376 - accuracy: 0.7399
Epoch 42/50
25724/25724 [==============================] - 2s 59us/sample - loss: 0.5373 - accuracy: 0.7398
Epoch 43/50
25724/25724 [==============================] - 2s 59us/sample - loss: 0.5375 - accuracy: 0.7399
Epoch 44/50
25724/25724 [==============================] - 2s 60us/sample - loss: 0.5371 - accuracy: 0.7403
Epoch 45/50
25724/25724 [==============================] - 2s 60us/sample - loss: 0.5371 - accuracy: 0.7399
Epoch 46/50
25724/25724 [==============================] - 2s 65us/sample - loss: 0.5365 - accuracy: 0.7395
Epoch 47/50
25724/25724 [==============================] - 2s 65us/sample - loss: 0.5367 - accuracy: 0.7402
Epoch 48/50
25724/25724 [==============================] - 2s 62us/sample - loss: 0.5364 - accuracy: 0.7398
Epoch 49/50
25724/25724 [==============================] - 2s 62us/sample - loss: 0.5366 - accuracy: 0.7390
Epoch 50/50
25724/25724 [==============================] - 2s 62us/sample - loss: 0.5367 - accuracy: 0.7399
8575/1 - 0s - loss: 0.5588 - accuracy: 0.7229
Loss: 0.5566782980827132, Accuracy: 0.7229154706001282

### Reduce number of inputs in attempt to optimize model

In [22]:
corporate_giving_no_SC_df = corporate_giving_df.drop(['SPECIAL_CONSIDERATIONS'], axis=1)
corporate_giving_no_SC_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [23]:
# Split the preprocessed data into our features and target arrays
y = corporate_giving_no_SC_df["IS_SUCCESSFUL"].values
X = corporate_giving_no_SC_df.drop(columns=["IS_SUCCESSFUL"]).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [24]:
# Define the fifth model - neural net, dropping SPECIAL CONSIDERATIONS
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  number_input_features

nn = tf.keras.models.Sequential()

# Hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Train on 25724 samples
Epoch 1/50
25724/25724 [==============================] - 2s 78us/sample - loss: 0.5805 - accuracy: 0.7158
Epoch 2/50
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5595 - accuracy: 0.7266
Epoch 3/50
25724/25724 [==============================] - 1s 52us/sample - loss: 0.5551 - accuracy: 0.7297
Epoch 4/50
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5535 - accuracy: 0.7310
Epoch 5/50
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5515 - accuracy: 0.7302
Epoch 6/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5510 - accuracy: 0.7320
Epoch 7/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5507 - accuracy: 0.7320
Epoch 8/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5499 - accuracy: 0.7317
Epoch 9/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5494 - accuracy: 0.7313
Epoch 10/50
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5484 - accuracy: 0.7325
Epoch 11/50
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5485 - accuracy: 0.7319
Epoch 12/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5484 - accuracy: 0.7323
Epoch 13/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5474 - accuracy: 0.7327
Epoch 14/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5477 - accuracy: 0.7321
Epoch 15/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5472 - accuracy: 0.7329
Epoch 16/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5467 - accuracy: 0.7320
Epoch 17/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5465 - accuracy: 0.7334
Epoch 18/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5461 - accuracy: 0.7329
Epoch 19/50
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5462 - accuracy: 0.7346
Epoch 20/50
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5458 - accuracy: 0.7325
Epoch 21/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5455 - accuracy: 0.7330
Epoch 22/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5453 - accuracy: 0.7338
Epoch 23/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5450 - accuracy: 0.7340
Epoch 24/50
25724/25724 [==============================] - 1s 52us/sample - loss: 0.5453 - accuracy: 0.7336
Epoch 25/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5448 - accuracy: 0.7325
Epoch 26/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5446 - accuracy: 0.7344
Epoch 27/50
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5445 - accuracy: 0.7336
Epoch 28/50
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5445 - accuracy: 0.7334
Epoch 29/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5441 - accuracy: 0.7346
Epoch 30/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5439 - accuracy: 0.7345
Epoch 31/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5439 - accuracy: 0.7339
Epoch 32/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5439 - accuracy: 0.7340
Epoch 33/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5442 - accuracy: 0.7320
Epoch 34/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5437 - accuracy: 0.7347
Epoch 35/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5433 - accuracy: 0.7339
Epoch 36/50
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5432 - accuracy: 0.7339
Epoch 37/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5437 - accuracy: 0.7355
Epoch 38/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5429 - accuracy: 0.7347
Epoch 39/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5435 - accuracy: 0.7352
Epoch 40/50
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5429 - accuracy: 0.7352
Epoch 41/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5428 - accuracy: 0.7352
Epoch 42/50
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5429 - accuracy: 0.7349
Epoch 43/50
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5427 - accuracy: 0.7353
Epoch 44/50
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5426 - accuracy: 0.7356
Epoch 45/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5426 - accuracy: 0.7352
Epoch 46/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5424 - accuracy: 0.7347
Epoch 47/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5425 - accuracy: 0.7353
Epoch 48/50
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5424 - accuracy: 0.7346
Epoch 49/50
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5424 - accuracy: 0.7350
Epoch 50/50
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5425 - accuracy: 0.7346
8575/1 - 0s - loss: 0.5565 - accuracy: 0.7230
Loss: 0.5541848215695373, Accuracy: 0.7230320572853088

In [26]:
corporate_giving_no_AT_df = corporate_giving_df.drop(['APPLICATION_TYPE_Other', 'APPLICATION_TYPE_T10','APPLICATION_TYPE_T19','APPLICATION_TYPE_T3','APPLICATION_TYPE_T4','APPLICATION_TYPE_T5','APPLICATION_TYPE_T6','APPLICATION_TYPE_T7','APPLICATION_TYPE_T8'], axis=1)
corporate_giving_no_AT_df.head()

,STATUS,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,0,5000,1,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,0,5000,0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,0,6692,1,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,0,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [27]:
# Split the preprocessed data into our features and target arrays
y = corporate_giving_no_AT_df["IS_SUCCESSFUL"].values
X = corporate_giving_no_AT_df.drop(columns=["IS_SUCCESSFUL"]).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [28]:
# Define the sixth model - neural net, dropping APPLICATION TYPE
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  number_input_features

nn = tf.keras.models.Sequential()

# Hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Train on 25724 samples
Epoch 1/50
25724/25724 [==============================] - 2s 76us/sample - loss: 0.6063 - accuracy: 0.6910
Epoch 2/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5837 - accuracy: 0.7055
Epoch 3/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5808 - accuracy: 0.7064
Epoch 4/50
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5796 - accuracy: 0.7065
Epoch 5/50
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5780 - accuracy: 0.7067
Epoch 6/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5768 - accuracy: 0.7086
Epoch 7/50
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5765 - accuracy: 0.7093
Epoch 8/50
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5762 - accuracy: 0.7080
Epoch 9/50
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5751 - accuracy: 0.7109
Epoch 10/50
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5750 - accuracy: 0.7120
Epoch 11/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5745 - accuracy: 0.7103
Epoch 12/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5742 - accuracy: 0.7116
Epoch 13/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5734 - accuracy: 0.7113
Epoch 14/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5740 - accuracy: 0.7102
Epoch 15/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5737 - accuracy: 0.7119
Epoch 16/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5732 - accuracy: 0.7112
Epoch 17/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5731 - accuracy: 0.7117
Epoch 18/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5730 - accuracy: 0.7119
Epoch 19/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5729 - accuracy: 0.7102
Epoch 20/50
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5725 - accuracy: 0.7128
Epoch 21/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5728 - accuracy: 0.7130
Epoch 22/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5727 - accuracy: 0.7124
Epoch 23/50
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5725 - accuracy: 0.7117
Epoch 24/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5724 - accuracy: 0.7121
Epoch 25/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5723 - accuracy: 0.7124
Epoch 26/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5723 - accuracy: 0.7119
Epoch 27/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5720 - accuracy: 0.7116
Epoch 28/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5717 - accuracy: 0.7138
Epoch 29/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5721 - accuracy: 0.7128
Epoch 30/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5719 - accuracy: 0.7128
Epoch 31/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5715 - accuracy: 0.7112
Epoch 32/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5718 - accuracy: 0.7133
Epoch 33/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5714 - accuracy: 0.7124
Epoch 34/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5717 - accuracy: 0.7119
Epoch 35/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5713 - accuracy: 0.7125
Epoch 36/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5708 - accuracy: 0.7124
Epoch 37/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5714 - accuracy: 0.7131
Epoch 38/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5710 - accuracy: 0.7115
Epoch 39/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5713 - accuracy: 0.7130
Epoch 40/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5712 - accuracy: 0.7140
Epoch 41/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5709 - accuracy: 0.7128
Epoch 42/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5708 - accuracy: 0.7129
Epoch 43/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5710 - accuracy: 0.7140
Epoch 44/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5705 - accuracy: 0.7143
Epoch 45/50
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5707 - accuracy: 0.7124
Epoch 46/50
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5707 - accuracy: 0.7136
Epoch 47/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5705 - accuracy: 0.7126
Epoch 48/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5707 - accuracy: 0.7149
Epoch 49/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5700 - accuracy: 0.7130
Epoch 50/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5704 - accuracy: 0.7134
8575/1 - 0s - loss: 0.5622 - accuracy: 0.7058
Loss: 0.5819916124455088, Accuracy: 0.7057725787162781